<div class="container">

  <p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }" [sortOrder]="1" sortField="nome">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.header === 'Nome'? 'nome': ''"    >
         {{ col.header }}  <p-sortIcon *ngIf="col.header === 'Nome'" field="nome" ></p-sortIcon>

        </th>
        <th>Conhecimentos</th>
        <th>Validação</th>
        <th>Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
      <td > <ul *ngFor="let conhecimento of rowData['conhecimentos']">{{conhecimento.name}}</ul></td>
      <td>{{rowData["validacao"] || "Processando validação"}}</td>
      <td> <button type="button" [routerLink]="[ '../' , rowData['nome'], 'validar']" [queryParams]="{id:rowData['id']}" class="btn btn-primary">Validar</button></td>
    </tr>
  </ng-template>
</p-table>
</div>
