<div class="container">
  <p-table
    [tableStyle]="{ 'min-width': '50rem' }"
    [sortOrder]="1"
    sortField="nome"
    [value]="users"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th pSortableColumn="nome">
          Nome<p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th>Email</th>
        <th>CPF</th>
        <th>Celular</th>
        <th>Conhecimentos</th>
        <th>Validação</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex>
      <tr>
        <td>
          {{ user.id }}
        </td>
        <td>
          {{ user.nome }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td style="width: 200px;">
          {{ user.cpf }}
        </td>
        <td style="width: 150px;">
          {{ user.celular }}
        </td>
        <td>
          <ul *ngFor="let conhecimento of user['conhecimentos']">
            {{
              conhecimento.name
            }}
          </ul>
        </td>
        <td>{{ user["validacao"] || "Processando validação" }}</td>
        <td>
          <button
            type="button"
            [routerLink]="['../', user['nome'], 'validar']"
            [queryParams]="{ id: user.id }"
            class="btn btn-primary"
          >
            Validar
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
